html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff url("../img/geometry2.png"); /* Background pattern from Subtle Patterns */
  font-family: "Coda", cursive;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
  width: 660px;
  min-height: 680px;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
}

.deck .card {
  height: 125px;
  width: 125px;
  background: #2e3d49;
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

/* open th card */
.deck .card.open {
  /* the duration of opening the card */
  transition-duration: 0.25s;
  background: #02b3e4;
  /* triangle cursor */
  cursor: default;
}

/* to show the symbols on the cards */
.deck .card.show {
  font-size: 33px;
}

/* this class is addad to the card whenever it matches another card */
.deck .card.match {
  cursor: default;
  background: #02ccba;
  font-size: 33px;
  /* Add animation */
  animation: pulseMatch 0.5s;
}

/* class added for a short time(1sec - due to setTimeout function in app.js) to unmatched cards */
.not-match {
  animation: pulseNotMatch 1s;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
  text-align: left;
  width: 345px;
  margin-bottom: 10px;
}

.score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
}

.score-panel .restart {
  float: right;
  cursor: pointer;
}

/* Timer */
.timer {
  display: inline-block;
  margin-left: 50px;
}

/* *********************************** */
/*              Modal style            */
/* *********************************** */

/* modal is closed */
.modal-closed {
  display: none;
}

/* modal is visible */
.modal-opened {
  display: block;
}

/* Modal background & the modal: https://medium.com/@josephat94/a-simple-but-awesome-animation-with-css3-for-your-modals-eb24ebe4ab99 */
/* Modal background */
.modal-background {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  /* center content */
  display: flex;
  justify-content: center;
  align-items: center;
  /* add animation */
  animation: show 1s;
}

/* the modal */
.modal-content {
  padding: 15px;
  width: 50%;
  height: 50%;
  background-color: white;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* play again button */
.play-again-btn {
  padding: 5px;
  margin: 10px;
  color: white;
  background-color: #02ccba;
  width: 130px;
  height: 70px;
  border: none;
  border-radius: 5%;
  outline: none;
  font-size: 17px;
}

/* hovering over play again button */
.play-again-btn:hover {
  background-color: #019b8e;
}

/* info containers */
.moves-container,
.stars-container,
.timer-container {
  font-size: 17px;
  margin: 10px;
}

/* icon container */
.icon-container {
  margin: 10px;
}

/* icon */
.icon {
  font-size: 50px;
  color: burlywood;
  /* add animation (repeat)*/
  animation: pulseIcon 1s infinite;
}

/* *********************************** */
/*               Animation             */
/* *********************************** */

/* icon animation */
/* pulse animation */
@keyframes pulseIcon {
  0% {
    /* original size */
    transform: scale(1);
  }
  100% {
    /* increase size by half */
    transform: scale(1.5);
  }
}

/* animation for displaying the modal */
@keyframes show {
  0% {
    /* unvisible */
    transform: scale(0);
    opacity: 0;
    z-index: -1;
  }
  100% {
    /* visible as the original size */
    transform: scale(1);
    opacity: 1;
    z-index: 2;
  }
}

/* animation for matched cards */
/* pulse animation */
@keyframes pulseMatch {
  0%,
  50%,
  100% {
    /* original size */
    transform: scale(1);
  }
  25%,
  75% {
    /* icrease size slightly */
    transform: scale(1.2);
  }
}

/* animation for unmatched cards */
/* change color & slightly rotate cards */
@keyframes pulseNotMatch {
  0%,
  50%,
  100% {
    background-color: brown;
    /* rotate right */
    transform: rotate(10deg);
  }
  25%,
  75% {
    background-color: brown;
    /* rotate left */
    transform: rotate(-10deg);
  }
}
